.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: #265a86;
}

.header {
  display: flex;
  justify-content: left;
  padding: 1rem 2rem;
}

img {
  border-radius: 5px;
  height: 40px;
}
nav {
  padding-left: 2rem;
}

a {
  padding: 2rem;
  color: whitesmoke;
  font-size: 1.5rem;

  &:hover {
    color: #e80000;
    text-decoration: underline;
    cursor: pointer;
  }
}
